<%= form_for @post, class: "form-horizontal" do |f| %>

  <%= render 'shared/errors', obj: @post %>

  <div class="custom-form">

    <div class="form-group">
      <%= f.label :date %>
      <%= f.date_field :date, class: 'date-field form-control', id: 'date' %>
    </div>

    <div class="form-group">
      <%= f.label :rationale %>
      <%= f.text_area :rationale, class: 'form-control', id: 'rationale' %>
    </div>

    <%= render partial: 'status', locals: { f: f } if current_user.type == 'AdminUser' %>

    <%= f.submit "Submit", class: 'btn btn-primary' %>

  </div>
<% end %>
