<%= form_for @post, class: "form-horizontal" do |f| %>

  <%= render 'shared/errors', obj: @post %>

  <div class="custom-form form-group">

    <%= f.label :date %><br>
    <%= f.date_field :date, class: 'date-field form-control', id: 'date' %><br>

    <%= f.label :rationale %><br>
    <%= f.text_area :rationale, class: 'form-control', id: 'rationale' %><br>

    <%= f.submit "Submit", class: 'btn btn-primary' %>

  </div>

<% end %>
